.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;

  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  .nav-logo-footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .nav-item-footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .nav-item-footer a:hover {
    text-decoration: underline;
  }

  .footer-hr {
    width:85%;
  }

  .footer-text {
    padding:0rem;
    margin:0rem;
  }
  